*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1920px){
    body {
        font-size: 1vw;
    }
    
    .loadingFrame .loading h1 {
        font-size: 7vw;
    }
    
    h1 {
        font-size: 4vw;
    }
    
    h6 {
        font-size: 1.3vw;
    }
    
    #section2 li {
        font-size: 1.1vw;
        font-family: "Open Sans", sans-serif;
    }
    
    #section3 li {
        font-size: 1vw;
        font-family: "Open Sans", sans-serif;
    }
    
    #metadata li {
        font-size: 1.1vw;
    }
    
    #metadata p {
        font-size: 1.1vw;
    }
    
}
// Mobile styles
@media only screen and (max-width: 660px){
    .author {
        margin: 40px 0px;
        display: flex;
        justify-content: center;
    }
    
    .page2 {
        margin: 0 auto;
    }
    
    .list-container {
        margin: 0px;
    }
}

body {
    background: #3f3d3d;
}

.page2 {
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

.procedure li {
    margin-left: 18px;
    font-weight: bold;
}

.list-container {
    margin-left: 28%;
    margin-right: 25%;
}
.p2 {
   
}

.loadingFrame {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}

.loading {
    top: 50%;
}

.loadingFrame .loading h1{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.card {
    background: #3f3d3d;
}

h1 {
    color: turquoise;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.blinker {
  animation: blinker 2s linear infinite;  
}
@keyframes blinker {
    25% {
        opacity: 0;
    }
}

h2 {
    color: turquoise;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

h3 {
    color: deeppink;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    margin-bottom: 20px;
    font-size: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#section1 {
 background-color: inherit;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    #map {
    }


        .kantone{
            fill: #CB904D;
            stroke: #333333;
            stroke-width: 1;
        }

        .lakes{
            fill: #1b2782;
            stroke: #333333;
            stroke-width: 1;

        }

    #sidebar {
        border-left-style: solid;
        border-left-width: thin;
        color: whitesmoke;
    }
.description {
    text-align: justify;
    margin: 20px;
}

form {
    margin: 20px 0px;
}

label {
    margin-left: 5px;
    color: whitesmoke;
}

input[type=checkbox]{
    margin-left: 20px;
    height: 15px;
    width: 15px;
}


/* Slider Styling for Mozilla and Chrome */
input[type=range] {
    -webkit-appearance:none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
}
input[type=range]::-moz-range-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
    height: 50px;
    width: 20px;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb{
    height: 50px;
    width: 20px;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track{
    background: white;
}
input[type=range]:focus::-moz-range-track{
    background: white;
}

.buffer > input[type=range]::-webkit-slider-thumb{
    background: url(data/icons/zirkel.svg) center center no-repeat;
    background-size: 50px 40px;
    margin-top: -26px;
}

.buffer > input[type=range]::-moz-range-thumb{
    background: url(data/icons/zirkel.svg) center center no-repeat;
    background-size: 50px 40px;
    margin-top: -26px;
}

.baden > input[type=range]::-webkit-slider-thumb{
    background: url(data/icons/thermometer_white.svg) center center no-repeat;
    background-size: 40px 40px;
    margin-top: -25px;
}
.baden > input[type=range]::-moz-range-thumb{
    background: url(data/icons/thermometer_white.svg) center center no-repeat;
    background-size: 40px 40px;
    margin-top: -25px;
}

/*
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 1px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #ffffff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  height: 40px;
  width: 20px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.buffer > input[type=range]::-ms-thumb {
    background: url(data/icons/zirkel.svg) center center no-repeat;
    background-size: 40px 20px;
}
.baden > input[type=range]::-ms-thumb {
    background: url(data/icons/thermometer_white.svg) center center no-repeat;
    background-size: 40px 20px;
}
*/

#section2 {
    color: whitesmoke;
}
#user_manual, #metadata {
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
    font-size: 17px;
}

    #metadata {
        
    }

    #authors {
        
    }

#metadata p {
    text-align: justify;
}

.button-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #3f3d3d;
    color: whitesmoke;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 10px;
}

.btn:hover {
    background-color: turquoise;
    color: #3f3d3d;
    border-color: inherit;
}

#section3 {
    background-color: khaki;
    color: #3f3d3d;
    
}

#section3 h3 {
    margin: 10px;
}

#section3 img {
    border-radius: 50%;
}

.datadescription {
    margin-top: 40px;
}

.name {
    margin-top: 10px;
}

.image-container{
    margin-top: 15px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: gray;
}

.author {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.impressum {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.impressum p {
    text-align: center;
}